<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    
    <div class="topnav">
        <a class="active" href="/api/test">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
      <div class="w3-container">
        <h2>This is Duong's Database</h2>
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-grey">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
          </thead>
         
          <tbody>
            <% for(var i=0; i < dataUser.length; i++) { %>
                <tr>
                    <td><%= dataUser[i].id %></td>
                    <td><%= dataUser[i].firstName %></td>
                    <td><%= dataUser[i].lastName %></td>
                    <td>
                        <button>
                           <a href="/detail/user/<%= dataUser[i].id %> ">Detail</a>
                        </button>
                        <button>
                            Edit
                        </button>
                        <button>
                            Delete
                        </button>
                    </td>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>
</body>
</html>