<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/upload-file">Upload File</a>
    </div>
    <div class="w3-container">
      <h2>This is Duong's Database</h2>
      <form action="/upload-singlefile" method="post">
        <div>Upload File</div>
        <input class="input-upload" type="file" />
        <button class="btn-upload" type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
