
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.createUserscontainer {
  text-align: center;
}

.createUserscontainer label {
  display: block;
}

.createUserscontainer .btnsubmit1{
  margin-top: 15px;
  cursor: pointer; 
}

.btnDetail .aTagDetail {
  text-decoration: none;
}

.abc {
  display: flex !important;
}

.abc form {
  padding-inline-end: 5px;
}

.editUserscontainer {
  text-align: center;
  padding: 5;
}

.editUserscontainer form div label{
  display: block;
  padding-top: 10;
}

.editUserscontainer form button {
  margin-top: 15;
}

.input-uploadFile {
  cursor: pointer; 
}

.btn-upload {
  display: block;
}